.item {
  margin-top: 5px;
  border-radius: 2px;
  display: flex;
}

.item > * {
  border-left: 2px solid grey;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

.item > *:last-child {
  border-right: 2px solid grey;
}

.itemName {
  width: 150px;
  padding: 10px 0px 10px 10px;
}

.liked {
  color: red;
}

.itemCount {
  width: 30px;
  padding: 10px 0px;
  text-align: center;
}

.likeButton {
  cursor: pointer;
  width: 30px;
  padding: 10px 0px;
  text-align: center;
}

.addButton {
  cursor: pointer;
  width: 30px;
  padding: 10px 0px;
  text-align: center;
}

.action {
  cursor: pointer;
  padding: 10px;
}